/* -- "Global" -- */
.ezcs-loader {opacity:0.7;width:46px;height:46px;position:absolute;top:50%;left:50%; background:#000 url(../img/ajax-loader.gif) no-repeat center center;margin:-23px 0px 0px -23px;border-radius: 10px;z-index:1000;-moz-border-radius: 10px;-webkit-border-radius: 10px}
.ezcs-status-fullscreen .ezcs-loader{position:fixed}
.ezcs-clear {clear:both}

/* -- Full-screen -- */
.ezcs-status-fullscreen {z-index:2000; position:fixed; top:0; left:0}
.ezcs-status-fullscreen .ezcs-main-prev, .ezcs-status-fullscreen .ezcs-main-next{position:fixed;z-index:400}
.ezcs-status-fullscreen .ezcs-main-slides {z-index:300; position:fixed; top:0; left:0; min-height:100%; min-width:100%;height:100%;width:100%;background:#000}
.ezcs-status-fullscreen .ezcs-controls-wrapper {z-index:400; position:fixed; left:20px; bottom:125px}
.ezcs-status-fullscreen .ezcs-carousel-wrapper{z-index:400; position:fixed; left:20px; right: 20px; bottom:20px;opacity:1}
.ezcs-status-fullscreen .ezcs-carousel-wrapper:hover{opacity:1}
.ezcs-status-fullscreen span.ezcs-caption-full {font-size:18px;position:absolute;top:40px;left:40px;z-index:400;color:#fff}
.ezcs-status-fullscreen span.ezcs-share-full {font-size:18px;position:absolute;top:40px;right:40px;z-index:400;color:#fff}
.ezcs-status-fullscreen .ezcs-main-slides li {position:relative; top:0; left:0; bottom:0; right:0; height:100%}

/* .ezcs-status-fullscreen .ezcs-main-slides img.ezcs-display-full {min-width:100%;min-height:100%; z-index:350} */
.ezcs-status-fullscreen .ezcs-main-slides img.ezcs-display-full {z-index:350; height:100%; width:100%; position:relative}
.ezcs-status-fullscreen .ezcs-main-slides img.ezcs-height-100-percent{height:100%; width:auto}
.ezcs-status-fullscreen .ezcs-main-slides img.ezcs-width-100-percent {width:100%; height:auto}

/* -- Main slides -- */
.ezcs-content-slider {max-width:100%; position: relative}
.ezcs-main-wrapper{position:relative;z-index:50;margin:0; padding:0; border-radius: 2px}
.ezcs-main-slides{overflow:hidden; background-color:#000}
.ezcs-main-slides ul {position:relative;padding:0;margin:0}
.ezcs-main-slides ul li {float:left;display:block;position:relative;overflow:hidden}
.ezcs-main-slides ul li  span.ezcs-caption-reg{position:absolute;top:20px;left:20px;font-size:16px;z-index:400;color:#fff}
.ezcs-main-slides ul li  span.ezcs-share-reg{position:absolute;top:20px;right:20px;font-size:16px;z-index:400;color:#fff}
.ezcs-main-slides img.ezcs-display-reg{width:100%; border-radius: 2px}


/* -- Controls -- */	
.ezcs-main-prev, .ezcs-main-next{position:absolute;z-index:200;background: #000 url(../img/ezcs-controls.png) no-repeat top left;width:25px;top: 45%;
	height:50px;text-indent:-9000px;cursor:pointer;opacity:0.3;outline:none}
.ezcs-main-prev{left:0px;background-position:-295px; border-radius: 0px 2px 2px 0px}
.ezcs-main-next{right:0px;background-position:-262px; border-radius: 2px 0px 0px 2px}
.ezcs-main-prev:hover, .ezcs-main-next:hover{opacity:1.0}


.ezcs-controls-wrapper {height:37px;position:absolute;z-index:200; bottom:10px;left:10px}
.ezcs-controls-switch-wrapper {width:300px}
.ezcs-controls-wrapper span{float:left;width:40px;height:40px;margin-right:5px;background:#464646 url(../img/ezcs-controls.png) no-repeat top left;border:3px solid #464646;opacity:0.3}
.ezcs-controls-wrapper span:hover{opacity:1.0;cursor:pointer}
.ezcs-controls-wrapper #ezcs-control-display-reg {background-position:0px 0px}
.ezcs-controls-wrapper #ezcs-control-display-full {background-position:-33px 0px}
.ezcs-controls-wrapper #ezcs-control-play-play{background-position:-96px 0px}
.ezcs-controls-wrapper #ezcs-control-play-pause {background-position:-65px 0px}
.ezcs-controls-wrapper #ezcs-control-thumbs-show {background-position:-130px 0px}
.ezcs-controls-wrapper #ezcs-control-thumbs-hide {background-position:-160px 0px}
.ezcs-controls-wrapper #ezcs-control-switch-show {background-position:-228px 0px}
.ezcs-controls-wrapper #ezcs-control-switch-hide {background-position:-195px 0px}
.ezcs-controls-wrapper #ezcs-control-caption-show {background-position:-387px 0px}
.ezcs-controls-wrapper #ezcs-control-caption-hide {background-position:-424px 0px}
.ezcs-controls-wrapper #ezcs-control-share-show {background-position:-458px 0px}
.ezcs-controls-wrapper #ezcs-control-share-hide {background-position:-489px 0px}

.ezcs-carousel-group-next, .ezcs-carousel-group-prev{position:absolute;top:40%;background: #000 url(../img/ezcs-controls.png) no-repeat top left; 
	width:14px;height:20px;margin-top:-2px;text-indent:-9000px; cursor:pointer;opacity:0.3}
.ezcs-carousel-group-next{right:8px;left:auto;background-position:-330px}
.ezcs-carousel-group-prev{left:8px;right:auto;background-position:-364px}
.ezcs-carousel-group-next:hover, .ezcs-carousel-group-prev:hover{opacity:1.0}

/* -- Carousel  -- */
.ezcs-carousel-wrapper{background: #101010;padding:5px 27px;position:relative;margin-bottom:7px; border-radius: 2px}
	
.ezcs-carousel-pages-wrapper{height:69px;overflow:hidden;background:#000}
.ezcs-carousel-pages-wrapper ul{position:relative;width:99999px;padding:0;margin:0}
.ezcs-carousel-pages-wrapper ul li{font-size:0px;float:left;display:block; border: solid 2px #222;opacity:0.7}
	
/* .ezcs-carousel-pages-wrapper ul li a{display:block} */
.ezcs-carousel-pages-wrapper ul li:hover{opacity:1.0;cursor:pointer}
.ezcs-carousel-pages-wrapper ul li.ezcs-selected {border-color:#fff;opacity:1.0}
.ezcs-carousel-pages-wrapper ul li img{padding:0;margin:0}